.client-style {

  * {
    font-family: 'Rubik', Arial, sans-serif; // general font
    color: @white;
  }

  a { color : @link-color-main;
    background-color: transparent;
  }
  a:hover { color : @link-color-main; background-color: transparent;}
  a:visited { color : @link-color-main; background-color: transparent;}
  a:active { color : @link-color-active; background-color: @transparent;}
}

p {
  margin: 20px 0;
}

.form-control {
  box-shadow: none;
}

.btn {
}