@base-font-family: 'Roboto', sans-serif;;
@base-font-size: 14px;
@white: #ffffff;
@gray: #808080;
@pink: #fb51bb;
@magenta: #81004a;
@magenta-light: #af4c92;

@link-color-main: @gray;
@link-color-active: @pink;
@overline-color-main: #d4d4d4;
@overline-color-active: #fbd6e7;

@transparent: transparent;

@btn-base-bg: @magenta;
@btn-hover-bg: @magenta-light;
@btn-disabled-bg: #F0F0F0;
@btn-promo-base-color: #cf91c0;

