.gradient{
    position: relative;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &-violet{
        &:before{
            .vertical-gradient(@transparent, @violet);
        }
        &_convert {
            &:before{
                .vertical-gradient (@violet, @transparent);
            }
        }
    }
    &-bordeau{
        &:before{
            .vertical-gradient(@transparent, @bordeau);
        }
    }
    &-maroon {
        &:before{
            .vertical-gradient(@maroon, @transparent);
        }
    }
}